/*====================================================================
reset.css

Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
=================================================================== */

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
button,
table,
tr,
th,
td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	vertical-align: bottom;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
	-webkit-appearance: none;
	border-radius: 0;
}

/*=======================
全体共通
====================== */

body {
	color: #333;
	font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
	font-size: 16px;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
}

a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover {
	opacity: 0.8;
}

section {
	padding-bottom: 120px;
	padding-top: 100px;
}

/*=======================
global Nav
====================== */

/*=======================
l-inner
====================== */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 810px;
	width: 100%;
}

/*=======================
btn 共通
====================== */

.c-btn {
	color: #fff;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
}

/*=======================
Background image
====================== */

.p-body__bg::before {
	background: url(../img/min/bg-img.png) no-repeat center center/cover;
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/*=======================
Footer Copyright
====================== */

.p-copyright {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.2rem;
	padding-top: 30px;
	text-align: center;
}

/*=======================
Footer
====================== */

.p-footer {
	background-color: #1A1A1A;
	height: 80px;
	width: 100%;
}

/*=======================
global Nav
====================== */

.p-global-nav {
	-webkit-overflow-scrolling: touch;
	height: 90px;
	overflow-x: auto;
	position: relative;
	white-space: nowrap;
}

.p-global-nav ul {
	display: flex;
	height: inherit;
	justify-content: center;
}

.p-global-nav__item {
	height: inherit;
	margin: 0 16px;
}

.p-global-nav__item a {
	color: #421f15;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	height: inherit;
	padding-top: 25px;
	text-align: center;
}

.p-global-nav__item a::after {
	display: block;
	font-size: 1.38rem;
	padding-top: 8px;
	text-transform: uppercase;
}

.p-global-nav__item--top a::after {
	content: "top";
}

.p-global-nav__item--news a::after {
	content: "news";
}

.p-global-nav__item--story a::after {
	content: "story";
}

.p-global-nav__item--comic a::after {
	content: "comic";
}

.p-global-nav__item--comments a::after {
	content: "comments";
}

.p-global-nav__item--casts a::after {
	content: "casts";
}

.p-global-nav__item--inquiry a::after {
	content: "inquiry";
}

.p-global-nav__item--reserve a::after {
	content: "reserve";
}

.p-prev-icon,
.p-next-icon {
	display: none;
}

/*=======================
hero date (TOP以外)
====================== */

.p-hero__date {
	width: 30.86419%;
}

/*=======================
hero reserve btn (TOP以外)
====================== */

.p-hero__reserve-btn {
	background-color: #c63205;
	font-size: 0.75rem;
	height: 40px;
	line-height: 40px;
	margin-left: auto;
	margin-top: 15px;
	transform: translateY(50%);
	width: 150px;
}

/*=======================
hero title wrap (TOP以外)
====================== */

.p-hero__title-wrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

/*=======================
hero title (TOP以外)
====================== */

.p-hero__title {
	width: 56.79%;
}

/*=======================
hero wrap (TOP以外)
====================== */

.p-hero__wrap {
	margin: 0 auto;
	max-width: 810px;
	width: 100%;
}

/*=======================
hero (TOP以外)
====================== */

.p-hero {
	background: url(../img/hero-bg2.png) no-repeat center center/cover;
	padding: 58px 165px 0;
	position: relative;
}

/*=======================
reserve btn
====================== */

.p-reserve-btn {
	background-color: #c63205;
	height: 60px;
	line-height: 60px;
	margin-left: auto;
	transform: translateY(50%);
	width: 200px;
}

/*=======================
p-title
====================== */

.p-title {
	font-family: "Futura-CondensedMedium", "Century Gothic", sans-serif;
}

/*=======================
top hero date
====================== */

.p-top-hero__date {
	width: 40.217%;
}

/*=======================
top hero description
====================== */

.p-top-hero__desc {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.375rem;
	width: 36.956%;
}

.p-top-hero__desc span {
	font-weight: bold;
}

/*=======================
top hero secondary-wrap
====================== */

.p-top-hero__secondary-wrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-top: 88.6px;
}

/*=======================
top wrap
====================== */

.p-top-hero__wrap {
	margin: 0 auto;
	max-width: 920px;
	width: 100%;
}

/*=======================
top hero
====================== */

.p-top-hero {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url(../img/min/hero-bg.png) no-repeat center center/cover;
	padding: 60px 110px 0;
	position: relative;
}

/*=======================
u-is-pc
====================== */

.u-is-pc {
	display: block;
}

.u-is-sp {
	display: none;
}

@media screen and (max-width: 1139px) {

section {
	padding-bottom: 50px;
	padding-top: 90px;
}

}

@media screen and (max-width: 991px) {

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.p-global-nav ul {
	display: block;
	margin: 0 auto;
	width: 767.64px;
}

.p-global-nav__item {
	display: inline-block;
}

.p-global-nav__item a {
	font-size: 0.88rem;
	padding-top: 38px;
}

.p-global-nav__item a::after {
	display: none;
}

.p-hero {
	padding: 40px 24px 0;
}

.p-top-hero {
	padding: 40px 24px 0;
}

}

@media screen and (max-width: 767px) {

section {
	padding-bottom: 30px;
	padding-top: 70px;
}

.l-inner {
	padding-left: 16px;
	padding-right: 16px;
}

.p-copyright {
	line-height: 1.2rem;
	padding-top: 23px;
}

.p-global-nav {
	height: 60px;
}

.p-global-nav ul {
	width: 799.64px;
}

.p-global-nav__item:first-child {
	margin-left: 32px;
}

.p-global-nav__item:last-child {
	margin-right: 32px;
}

.p-global-nav__item a {
	padding-top: 24px;
}

.p-prev-icon,
.p-next-icon {
	background-color: rgba(255, 255, 255, 0.29);
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 25px;
	z-index: 2;
}

.p-prev-icon {
	left: 0;
}

.p-next-icon {
	display: block;
	right: 0;
}

.p-hero__date {
	margin-top: 30px;
	width: 70%;
}

.p-hero__title-wrap {
	display: block;
}

.p-hero__title {
	width: 100%;
}

.p-hero {
	background-image: url(../img/min/hero-bg.png);
	padding: 50px 16px 0;
}

.p-top-hero__date {
	width: 70%;
}

.p-top-hero__desc {
	margin-top: 40px;
	width: 100%;
}

.p-top-hero__secondary-wrap {
	display: block;
	margin-top: 20px;
}

.p-top-hero {
	background-position: left 25% center;
	padding: 40px 16px 0;
}

.u-is-pc {
	display: none;
}

.u-is-sp {
	display: block;
}

}

