/*====================================================================
reset.css

Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
=================================================================== */

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
button,
table,
tr,
th,
td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	vertical-align: bottom;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
	-webkit-appearance: none;
	border-radius: 0;
}

/*=======================
全体共通
====================== */

body {
	color: #333;
	font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
	font-size: 16px;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
}

a {
	color: #333;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover {
	opacity: 0.8;
}

/*=======================
global Nav
====================== */

/*=======================
l-inner
====================== */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 810px;
	position: relative;
	width: 100%;
}

.l-inner--layout-width {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
}

/*=======================
c-breadcrumb
====================== */

.c-breadcrumb {
	font-size: 0.75rem;
	line-height: 1.3125rem;
	margin: 25px auto 0;
	max-width: 810px;
	width: 100%;
}

.c-breadcrumb > span::after {
	content: ">";
}

.c-breadcrumb > span:last-child::after {
	content: "";
}

.c-breadcrumb span {
	font-weight: bold;
}

.c-breadcrumb__font-color--white {
	color: #fff;
}

.c-breadcrumb__font-color--white a {
	color: #fff;
}

/*=======================
btn 共通
====================== */

.c-btn {
	color: #fff;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
}

/*=======================
c-news-single
====================== */

.c-news-single {
	padding-top: 32px;
}

.c-news-single__post {
	box-shadow: 0 0 17.45px rgba(0, 0, 0, 0.1);
	margin-top: 32px;
}

.c-news-single__title-wrap {
	background-color: #1a1a1a;
	padding: 9px 30px 15px;
	width: 100%;
}

.c-news-single__date {
	color: #fff;
	font-size: 0.75rem;
}

.c-news-single__title {
	color: #fff;
	font-size: 1.625rem;
	font-weight: bold;
	margin-top: 8px;
}

.c-news-single__body {
	background-color: rgba(255, 255, 255, 0.9);
	line-height: 1.625;
	padding: 26px 30px 1px;
}

.c-news-single__body h2 {
	font-size: 1.375rem;
	font-weight: bold;
	line-height: 1.18181818;
	margin-bottom: 26px;
}

.c-news-single__body h3 {
	font-size: 1.125rem;
	font-weight: bold;
	margin-bottom: 25px;
}

.c-news-single__body p {
	margin-bottom: 26px;
}

/* pagination */

.c-news-single__pagination {
	align-items: flex-start;
	display: flex;
	margin-top: 24px;
}

.c-news-single__prev,
.c-news-single__next {
	max-width: 390px;
	width: calc(100% / 2 - 30px * 1 / 2);
}

.c-news-single__prev a,
.c-news-single__next a {
	display: inline-block;
	height: 100%;
	line-height: 1.3125rem;
	position: relative;
	width: 100%;
}

.c-news-single__prev a time,
.c-news-single__next a time {
	font-size: 0.75rem;
}

.c-news-single__prev a p,
.c-news-single__next a p {
	font-size: 0.875rem;
	font-weight: bold;
}

.c-news-single__prev a::before,
.c-news-single__prev a::after,
.c-news-single__next a::before,
.c-news-single__next a::after {
	background-color: #1a1a1a;
	border-radius: 999px;
	color: #f4d102;
	font-size: 1.125rem;
	height: 32.46px;
	line-height: 28px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 32.46px;
}

.c-news-single__prev {
	margin-right: 30px;
}

.c-news-single__prev a {
	padding-left: 45px;
}

.c-news-single__prev a::before {
	content: "<";
	left: 0;
}

.c-news-single__next a {
	padding-right: 45px;
	text-align: right;
}

.c-news-single__next a::after {
	content: ">";
	right: 0;
}

/*=======================
c-pagination
====================== */

.c-pagination {
	display: flex;
	justify-content: center;
	margin-top: 31px;
}

.c-pagination__page-numbers,
.c-pagination__next,
.c-pagination__prev {
	font-size: 0.75rem;
	font-weight: bold;
	height: 27px;
	margin-right: 9px;
	text-align: center;
	width: 27px;
}

.c-pagination__page-numbers a,
.c-pagination__next a,
.c-pagination__prev a {
	display: inline-block;
	font-weight: bold;
	height: 100%;
	text-align: center;
	width: 100%;
}

.c-pagination__page-numbers {
	background-color: #1a1a1a;
	color: #f4d102;
	line-height: 27px;
}

.c-pagination__page-numbers a {
	color: #f4d102;
}

.c-pagination__next,
.c-pagination__prev {
	background-color: transparent;
	border: 2px solid #1a1a1a;
	color: #1a1a1a;
	line-height: 21px;
}

.c-pagination__next {
	margin-right: 0;
}

/*=======================
p-body
====================== */

.p-body__bg::before {
	background: url(../img/min/bg-img.png) no-repeat center center/cover;
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/*=======================
p-cast
====================== */

.p-cast {
	margin-top: 28px;
}

.p-cast__wrap {
	margin-top: 31px;
	position: relative;
}

.p-cast__wrap::before {
	background-color: rgba(255, 255, 255, 0.9);
	bottom: -30px;
	content: "";
	height: calc(100% - 110px);
	left: 0;
	padding-bottom: 30px;
	position: absolute;
	width: 100vw;
}

.p-cast__items {
	display: flex;
}

.p-cast__item {
	margin-right: 30px;
	max-width: 250px;
	width: calc(100% / 3 - 30px * 2 / 3);
}

.p-cast__item:last-child {
	margin-right: 0;
}

.p-cast__img {
	border-radius: 999px;
	height: 220px;
	margin: 0 auto;
	overflow: hidden;
	width: 220px;
}

.p-cast__country,
.p-cast__name,
.p-cast__title {
	text-align: center;
}

.p-cast__country {
	margin-top: 38.8px;
}

.p-cast__name {
	font-size: 1.125rem;
	font-weight: bold;
	margin-top: 12px;
}

.p-cast__title {
	font-size: 0.75rem;
	margin-top: 17px;
	min-height: 12px;
}

.p-cast__profile {
	font-size: 0.75rem;
	line-height: 1.3125rem;
	margin-top: 16px;
}

/*=======================
p-comic
====================== */

.p-comic__wrap {
	margin-top: 48px;
	width: 100%;
}

.p-comic__sub-title {
	margin-top: 24px;
	text-align: center;
}

.p-comic__lead {
	line-height: 1.5;
	margin-top: 24px;
}

/*=======================
p-comments
====================== */

.p-comments {
	margin-top: 27.9px;
	padding-bottom: 8px;
}

.p-comments__rep {
	background: #1a1a1a url(../img/min/comment-bg.png) no-repeat center center/cover;
	margin-top: 41px;
	padding: 44px 30.2px 43px;
	position: relative;
}

.p-comments__rep::before {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-comments__rep-name,
.p-comments__rep-text {
	color: #fff;
	position: relative;
	z-index: 1;
}

.p-comments__rep-name {
	font-size: 1.625rem;
	font-weight: bold;
}

.p-comments__rep-name span {
	display: inline-block;
	font-size: 1.25rem;
	margin-right: -2px;
}

.p-comments__rep-text {
	font-size: 0.875rem;
	line-height: 1.375rem;
	max-width: 420px;
	padding-top: 15px;
	width: 100%;
}

.p-comments__lead {
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 28px;
	text-align: center;
}

.p-comments__items {
	display: flex;
	flex-wrap: wrap;
}

.p-comments__item {
	margin-right: 30px;
	margin-top: 30px;
	max-width: 250px;
	width: calc(100% / 3 - 30px * 2 / 3);
}

.p-comments__item:nth-child(3n) {
	margin-right: 0;
}

.p-comments__name {
	font-size: 1.375rem;
	font-weight: bold;
	text-align: center;
}

.p-comments__position-title {
	color: #666666;
	font-size: 0.75rem;
	margin-top: 10px;
	text-align: center;
}

.p-comments__text {
	line-height: 1.625;
	margin-top: 13px;
}

.p-comments__schedule {
	padding-top: 68px;
}

/*=======================
Footer Copyright
====================== */

.p-copyright {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.2rem;
	padding-top: 29px;
	text-align: center;
}

/*=======================
Footer
====================== */

.p-footer {
	background-color: #1a1a1a;
	height: 80px;
	width: 100%;
}

/*=======================
global Nav
====================== */

.p-global-nav {
	-webkit-overflow-scrolling: touch;
	height: 90px;
	overflow-x: auto;
	position: relative;
	white-space: nowrap;
}

.p-global-nav ul {
	display: flex;
	height: inherit;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	max-width: 664.28px;
	width: 100%;
}

.p-global-nav__item {
	height: inherit;
}

.p-global-nav__item a {
	color: #421f15;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	height: inherit;
	padding-top: 25px;
	text-align: center;
}

.p-global-nav__item a::after {
	display: block;
	font-size: 1.38rem;
	padding-top: 6px;
	text-transform: uppercase;
}

.p-global-nav__item--top a::after {
	content: "top";
}

.p-global-nav__item--news a::after {
	content: "news";
}

.p-global-nav__item--story a::after {
	content: "story";
}

.p-global-nav__item--comic a::after {
	content: "comic";
}

.p-global-nav__item--comments a::after {
	content: "comments";
}

.p-global-nav__item--casts a::after {
	content: "cast";
}

.p-global-nav__item--inquiry a::after {
	content: "inquiry";
}

.p-global-nav__item--reserve a::after {
	content: "reserve";
}

.p-prev-icon,
.p-next-icon {
	display: none;
}

/*=======================
hero (TOP以外)
====================== */

.p-hero {
	background: url(../img/hero-bg2.png) no-repeat center center/cover;
	padding: 58px 165px 0;
	position: relative;
}

.p-hero__wrap {
	margin: 0 auto;
	max-width: 810px;
	width: 100%;
}

.p-hero__title-wrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.p-hero__title {
	width: 56.79%;
}

.p-hero__date {
	margin: 1px;
	width: 30.86419%;
}

.p-hero__reserve-btn {
	background-color: #c63205;
	font-size: 0.75rem;
	height: 40px;
	line-height: 40px;
	margin-left: auto;
	margin-top: 15px;
	transform: translateY(50%);
	width: 150px;
}

/*=======================
p-intro
====================== */

.p-intro {
	padding-top: 60px;
}

.p-intro__sub-title {
	font-size: 2.125rem;
	font-weight: bold;
	margin-top: 19px;
	text-align: center;
}

.p-intro__wrap {
	background: rgba(255, 255, 255, 0.29) url(../img/min/intro-img.png) no-repeat top left 0/230px 207px;
	padding: 33px 30px 26px;
	width: 100%;
}

.p-intro__text-wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 26px;
}

.p-intro__text--left,
.p-intro__text--right {
	font-size: 0.75rem;
	line-height: 1.3125rem;
	width: 48%;
}

/*=======================
p-news-archive
====================== */

.p-news-archive {
	padding-top: 32px;
}

.p-news-archive__items-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 32px;
}

.p-news-archive__item {
	background-color: #fff;
	margin-right: 30px;
	max-width: 250px;
	width: calc(100% / 3 - 30px * 2 / 3);
}

.p-news-archive__item:nth-child(3) {
	margin-right: 0;
}

.p-news-archive__item:nth-child(6) {
	margin-right: 0;
}

.p-news-archive__item:nth-child(9) {
	margin-right: 0;
}

.p-news-archive__item:nth-child(n + 4) {
	margin-top: 30px;
}

.p-news-archive__item .p-news-archive__item-link {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.p-news-archive__item .p-news-archive__item-img {
	background-image: url(../img/min/news-img1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
	max-width: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-news-archive__item .p-news-archive__item-body {
	padding: 14px 15px 27px;
}

/*=======================
p-news
====================== */

.p-news__item-title {
	font-weight: bold;
	line-height: 1.3125rem;
	padding-top: 4px;
}

.p-news__item-date {
	color: #666666;
	font-size: 0.75rem;
}

/*=======================
reserve btn
====================== */

.p-reserve-btn {
	background-color: #c63205;
	height: 60px;
	line-height: 60px;
	margin-left: auto;
	transform: translateY(50%);
	width: 200px;
}

/*=======================
p-schedule
====================== */

.p-schedule {
	padding-bottom: 60px;
	padding-top: 60px;
}

.p-schedule__wrap {
	background-color: rgba(255, 255, 255, 0.29);
	margin: 0 auto;
	max-width: 800px;
	padding: 33px 72px 60px;
	width: 100%;
}

.p-schedule__reserve-link {
	text-decoration: underline;
}

.p-schedule__place {
	margin-left: 30px;
	margin-right: 30px;
}

.p-schedule__item {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.25rem;
	font-weight: bold;
	justify-content: center;
	line-height: 1.2;
	margin-top: 21px;
}

.p-schedule__item:first-child {
	margin-top: 0;
}

.p-schedule__item p,
.p-schedule__item a {
	font-weight: bold;
}

.p-schedule__button-wrap {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	margin-top: 27px;
	max-width: 416.2px;
	width: 100%;
}

.p-schedule__inquiry-btn {
	background-color: #603813;
	font-size: 0.8125rem;
	height: 60px;
	line-height: 60px;
	width: 193px;
}

.p-schedule__reserve-btn {
	background-color: #c63205;
	font-size: 0.8125rem;
	height: 60px;
	line-height: 60px;
	width: 193px;
}

.p-schedule__date {
	margin-right: 9px;
}

.p-schedule__body {
	margin-top: 32px;
	max-width: 656px;
	width: 100%;
}

/*=======================
p-section-sub-title
====================== */

.p-section-sub-title {
	font-size: 1.25rem;
	font-weight: bold;
}

/*=======================
p-title
====================== */

.p-section-title {
	font-family: "Futura-CondensedMedium", "Century Gothic", sans-serif;
	font-size: 2.6875rem;
	text-align: center;
}

/*=======================
p-story
====================== */

.p-story__hero {
	background-color: #000;
}

.p-story__hero-wrap {
	background-position: center top 0%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 58px 165px 61.8px;
}

.p-story__title {
	color: #fff;
}

.p-story__hero-items {
	margin-top: 60px;
}

.p-story__hero-item {
	color: #fff;
}

.p-story__item-wrap {
	align-items: center;
	display: flex;
	width: 100%;
}

.p-story__item-subtitle,
.p-story__item-text {
	width: calc(100% / 2 - 30px * 1 / 2);
}

.p-story__item-subtitle {
	font-size: 1.625rem;
	font-weight: bold;
	line-height: 0.80769;
	margin-right: 30px;
	max-width: 390px;
	text-align: center;
}

.p-story__item-text {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.83333;
	max-width: 390px;
}

.p-story__items {
	background-color: #000;
}

.p-story__item {
	background-color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 58px;
	padding-top: 56px;
}

.p-story__item:nth-child(2n) .p-story__item-text {
	margin-left: auto;
}

/*=======================
p-top-cast
====================== */

.p-top-cast {
	padding-top: 28px;
}

.p-top-cast__wrap {
	margin-top: 28px;
}

.p-top-cast__more-btn {
	border: 5px solid #c63205;
	color: #c63205;
	line-height: 26px;
	margin: 8px auto 0;
	width: 115.71px;
}

/*=======================
p-top-comments
====================== */

.p-top-comments {
	padding-top: 34px;
}

.p-top-comments__lead {
	padding-top: 37px;
}

.p-top-comments__rep {
	margin-top: 33px;
}

.p-top-comments__more-btn {
	background-color: #c63205;
	bottom: 14.5px;
	height: 36.43px;
	line-height: 36.43px;
	position: absolute;
	right: 14.3px;
	text-align: center;
	width: 115.71px;
}

/*=======================
p-top-hero
====================== */

.p-top-hero {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url(../img/min/hero-bg.png) no-repeat center center/cover;
	padding: 60px 110px 0;
	position: relative;
}

.p-top-hero__wrap {
	margin: 0 auto;
	max-width: 920px;
	width: 100%;
}

.p-top-hero__secondary-wrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-top: 82.6px;
}

.p-top-hero__desc-wrap {
	width: 36.956%;
}

.p-top-hero__desc-wrap p:nth-child(n + 2) {
	margin-top: 7px;
}

.p-top-hero__desc {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.57142857;
}

.p-top-hero__desc span {
	font-weight: bold;
}

.p-top-hero__date {
	width: 40.217%;
}

/*=======================
p-top-news
====================== */

.p-top-news {
	padding-top: 64px;
}

.p-top-news__archive-btn {
	background-color: #c63205;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 0;
	top: 6px;
	width: 120px;
}

.p-top-news__items-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 33px;
}

.p-top-news__item {
	background-color: #fff;
	margin-right: 30px;
	max-width: 250px;
	width: calc(100% / 3 - 30px * 2 / 3);
}

.p-top-news__item:nth-child(3) {
	margin-right: 0;
}

.p-top-news__item .p-top-news__item-link {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.p-top-news__item .p-top-news__item-img {
	background-image: url(../img/min/news-img1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
	max-width: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-top-news__item .p-top-news__item-body {
	padding: 14px 15px 27.4px;
}

.p-top-news__item:nth-child(n + 4) {
	margin-right: 30px;
	margin-top: 30px;
	max-width: 390px;
	width: calc(100% / 2 - 30px * 1 / 2);
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-link {
	display: flex;
	height: 100%;
	width: 100%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-img {
	background-image: url(../img/min/news-img2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	min-height: 88px;
	overflow: hidden;
	position: relative;
	width: 40%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-body {
	padding: 14.5px 15px;
	width: 60%;
}

.p-top-news__item:nth-child(5) {
	margin-right: 0;
}

/*=======================
p-top-schedule
====================== */

.p-top-schedule__padding {
	padding-top: 90px;
}

/*=======================
p-story
====================== */

.p-top-story {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent), url(../img/min/top-story-bg.png) no-repeat center top 0%/cover;
	margin-top: 62px;
	padding-bottom: 30px;
	padding-top: 34px;
	position: relative;
}

.p-top-story-more-btn {
	background-color: #c63205;
	font-size: 0.875rem;
	height: 36.43px;
	line-height: 36.43px;
	margin-left: auto;
	margin-top: 6px;
	text-align: center;
	width: 115.71px;
}

.p-top-story__text {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.3125rem;
	margin-left: auto;
	max-width: 320px;
	padding-top: 19px;
	width: 100%;
}

/*=======================
p-top-youtube
====================== */

.p-top-youtube {
	padding-top: 60px;
}

.p-top-youtube__wrap {
	padding-top: 55.55556%;
	position: relative;
	width: 100%;
}

.p-top-youtube__wrap iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*=======================
u-is-pc
====================== */

.u-is-pc {
	display: block;
}

.u-is-sp {
	display: none;
}

/*=======================
u-margin--top
====================== */

.u-margin--top {
	margin-top: 32px;
}

@media screen and (max-width: 991px) {

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.p-global-nav ul {
	margin: 0 auto;
	width: 760px;
}

.p-global-nav__item a {
	font-size: 0.88rem;
	padding-top: 38px;
}

.p-global-nav__item a::after {
	display: none;
}

.p-hero {
	padding: 40px 24px 0;
}

.p-intro__sub-title {
	font-size: 1.375rem;
}

.p-intro__wrap {
	background-size: 25%;
}

.p-schedule {
	padding-left: 24px;
	padding-right: 24px;
}

.p-schedule__wrap {
	padding-left: 30px;
	padding-right: 30px;
}

.p-story__hero-wrap {
	padding-left: 24px;
	padding-right: 24px;
}

.p-top-hero {
	padding: 40px 24px 0;
}

.p-top-news__archive-btn {
	right: 24px;
}

}

@media screen and (max-width: 767px) {

.l-inner {
	padding-left: 16px;
	padding-right: 16px;
}

.c-news-single {
	padding-top: 20px;
}

.c-news-single__post {
	margin-top: 15px;
}

.c-news-single__title-wrap {
	padding: 9px 10px 15px;
}

.c-news-single__title {
	font-size: 1.25rem;
	line-height: 1.3;
}

.c-news-single__body {
	line-height: 1.5;
	padding: 15px 10px 1px;
}

.c-news-single__body h2 {
	font-size: 1.125rem;
	margin-bottom: 15px;
}

.c-news-single__body h3 {
	font-size: 1rem;
	margin-bottom: 15px;
	padding-top: 10px;
}

.c-news-single__body p {
	font-size: 0.875rem;
	margin-bottom: 15px;
}

.p-cast__wrap {
	margin-top: 20px;
}

.p-cast__wrap::before {
	height: calc(100% - 90px);
}

.p-cast__items {
	display: block;
}

.p-cast__item {
	margin-right: 0;
	max-width: 100%;
	width: 100%;
}

.p-cast__item:nth-child(n + 2) {
	margin-top: 40px;
}

.p-cast__img {
	height: 180px;
	width: 180px;
}

.p-cast__country {
	margin-top: 20px;
}

.p-cast__title {
	min-height: 0;
}

.p-cast__profile {
	text-align: center;
}

.p-comic__wrap {
	margin-top: 20px;
}

.p-comic__sub-title {
	margin-top: 15px;
}

.p-comic__lead {
	font-size: 0.875rem;
	margin-top: 20px;
}

.p-comments {
	margin-top: 20px;
}

.p-comments__rep {
	background-position: top center;
	background-size: 100%;
	margin-top: 20px;
	padding-bottom: 33px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50%;
}

.p-comments__rep-name {
	line-height: 2rem;
}

.p-comments__rep-text {
	max-width: 100%;
}

.p-comments__lead {
	font-size: 1.125rem;
	line-height: 1.375;
	padding-top: 15px;
}

.p-comments__items {
	display: block;
}

.p-comments__item {
	margin-right: 0;
	max-width: 100%;
	width: 100%;
}

.p-copyright {
	line-height: 1.2rem;
	padding-top: 23px;
}

.p-global-nav {
	height: 60px;
}

.p-global-nav ul {
	width: 799.64px;
}

.p-global-nav__item:first-child {
	margin-left: 32px;
}

.p-global-nav__item:last-child {
	margin-right: 32px;
}

.p-global-nav__item a {
	padding-top: 24px;
}

.p-prev-icon,
.p-next-icon {
	background-color: rgba(255, 255, 255, 0.29);
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 25px;
	z-index: 2;
}

.p-prev-icon {
	left: 0;
}

.p-next-icon {
	display: block;
	right: 0;
}

.p-hero {
	background-image: url(../img/min/hero-bg.png);
	padding: 50px 16px 0;
}

.p-hero__title-wrap {
	display: block;
}

.p-hero__title {
	width: 100%;
}

.p-hero__date {
	margin-top: 30px;
	width: 70%;
}

.p-intro__text-wrap {
	display: block;
}

.p-intro__text--left,
.p-intro__text--right {
	width: 100%;
}

.p-intro__text--right {
	margin-top: 10px;
}

.p-news-archive {
	padding-top: 20px;
}

.p-news-archive__items-wrap {
	display: block;
	padding-top: 20px;
}

.p-news-archive__item {
	margin-right: 0;
	margin-top: 30px;
	max-width: 100%;
	width: 100%;
}

.p-news-archive__item:first-child {
	margin-top: 0;
}

.p-news-archive__item .p-news-archive__item-img {
	height: 50vw;
	max-width: 100%;
}

.p-schedule {
	padding-bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 40px;
}

.p-schedule__item {
	font-size: 1rem;
	line-height: 1.5;
}

.p-schedule__button-wrap {
	display: block;
}

.p-schedule__inquiry-btn {
	margin: 0 auto;
}

.p-schedule__reserve-btn {
	margin: 20px auto 0;
}

.p-section-sub-title {
	font-size: 1.125rem;
}

.p-story__hero-wrap {
	padding-bottom: 40px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 40px;
}

.p-story__hero-items {
	margin-top: 30px;
}

.p-story__item-wrap {
	display: block;
}

.p-story__item-subtitle,
.p-story__item-text {
	width: 100%;
}

.p-story__item-subtitle {
	max-width: 100%;
}

.p-story__item-text {
	max-width: 100%;
}

.p-story__hero-item-text {
	margin-top: 25px;
}

.p-story__item:nth-child(2n) {
	background-position: right 80% center;
}

.p-story__item {
	background-position: left 95% bottom;
	padding-bottom: 40px;
	padding-top: 40px;
	position: relative;
}

.p-story__item::before {
	background-color: rgba(0, 0, 0, 0.4);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-top-cast__more-btn {
	margin-top: 20px;
}

.p-top-comments__rep {
	padding-bottom: 71px;
}

.p-top-comments__more-btn {
	left: 50%;
	transform: translateX(-50%);
}

.p-top-hero {
	background-position: left 25% center;
	padding: 40px 16px 0;
}

.p-top-hero__secondary-wrap {
	display: block;
	margin-top: 20px;
}

.p-top-hero__desc {
	margin-top: 40px;
	width: 100%;
}

.p-top-hero__date {
	width: 70%;
}

.p-top-news {
	padding-top: 40px;
}

.p-top-news__archive-btn {
	margin: 20px auto 0;
	position: static;
}

.p-top-news__items-wrap {
	display: block;
	padding-top: 20px;
}

.p-top-news__item {
	margin-top: 30px;
	max-width: 100%;
	width: 100%;
}

.p-top-news__item:first-child {
	margin-top: 0;
}

.p-top-news__item .p-top-news__item-img {
	height: 50vw;
	max-width: 100%;
}

.p-top-news__item:nth-child(n + 4) {
	margin-right: 0;
	max-width: 100%;
	width: 100%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-link {
	display: block;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-img {
	height: 50vw;
	width: 100%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-body {
	width: 100%;
}

.p-top-schedule__padding {
	padding-top: 70px;
}

.p-top-story {
	margin-top: 40px;
}

.p-top-story::before {
	background-color: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

.p-top-story-more-btn {
	margin: 20px auto 0;
}

.p-top-story__text {
	margin: 0 auto;
	max-width: 100%;
}

.u-is-pc {
	display: none;
}

.u-is-sp {
	display: block;
}

}

@media screen and (max-width: 425px) {

.p-intro__sub-title {
	font-size: 1.125rem;
}

.p-intro__wrap {
	padding-left: 20px;
	padding-right: 20px;
}

}

