/*====================================================================
reset.css

Chrome/Firefox/Edgeなど、各ブラウザはそれぞれデフォルトで効くCSSを持っています。
何もしないと見え方が微妙に変わるので、デフォルトのCSSをリセットして
ブラウザごとの表示の差異をなくすために書くのが「リセットCSS」です。
=================================================================== */

* {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
button,
table,
tr,
th,
td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
aside,
figure,
figcaption {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}

a {
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	vertical-align: bottom;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
	-webkit-appearance: none;
	border-radius: 0;
}

/*=======================
全体共通
====================== */

body {
	color: #333;
	font-family: "ヒラギノ角ゴシック", "Hiragino Sans", "メイリオ", "Meiryo", sans-serif;
	font-size: 16px;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
}

a {
	color: #333;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

a:hover {
	opacity: 0.8;
}

/*=======================
global Nav
====================== */

/*=======================
l-inner
====================== */

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 810px;
	position: relative;
	width: 100%;
}

/*=======================
btn 共通
====================== */

.c-btn {
	color: #fff;
	display: block;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
}

/*=======================
Background image
====================== */

.p-body__bg::before {
	background: url(../img/min/bg-img.png) no-repeat center center/cover;
	content: "";
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -1;
}

/*=======================
cast country,
cast name,
cast profile
====================== */

.p-cast__country,
.p-cast__name,
.p-cast__title {
	text-align: center;
}

/*=======================
cast country
====================== */

.p-cast__country {
	margin-top: 38.8px;
}

/*=======================
cast img
====================== */

.p-cast__img {
	border-radius: 999px;
	height: 220px;
	overflow: hidden;
	width: 220px;
}

/*=======================
cast item
====================== */

.p-cast__item {
	margin-right: 30px;
	max-width: 250px;
	width: calc(100% / 3 - 30px * 2 / 3);
}

.p-cast__item:last-child {
	margin-right: 0;
}

/*=======================
cast items
====================== */

.p-cast__items {
	display: flex;
}

/*=======================
cast name
====================== */

.p-cast__name {
	font-size: 1.125rem;
	font-weight: bold;
	margin-top: 13px;
}

/*=======================
cast profile
====================== */

.p-cast__profile {
	font-size: 0.75rem;
	line-height: 1.3125rem;
	margin-top: 15px;
}

/*=======================
cast title
====================== */

.p-cast__title {
	font-size: 0.75rem;
	margin-top: 18px;
	min-height: 12px;
}

/*=======================
cast wrap
====================== */

.p-cast__wrap {
	margin-top: 24px;
	position: relative;
}

.p-cast__wrap::before {
	background-color: rgba(255, 255, 255, 0.9);
	bottom: -30px;
	content: "";
	height: calc(100% - 110px);
	left: 0;
	padding-bottom: 30px;
	position: absolute;
	width: 100vw;
}

/*=======================
cast
====================== */

.p-cast {
	padding-top: 60px;
}

/*=======================
comments lead
====================== */

.p-comments__lead {
	font-size: 1.5rem;
	font-weight: bold;
	padding-top: 33px;
	text-align: center;
}

/*=======================
comments rep-name,
comments rep-text
====================== */

.p-comments__rep-name,
.p-comments__rep-text {
	color: #fff;
	position: relative;
	z-index: 1;
}

/*=======================
comments rep-name
====================== */

.p-comments__rep-name {
	font-size: 1.625rem;
	font-weight: bold;
}

.p-comments__rep-name span {
	font-size: 1.25rem;
}

/*=======================
comments rep-text
====================== */

.p-comments__rep-text {
	font-size: 0.875rem;
	line-height: 1.375rem;
	max-width: 420px;
	padding-top: 15px;
	width: 100%;
}

/*=======================
comments rep
====================== */

.p-comments__rep {
	background: #1A1A1A url(../img/min/comment-bg.png) no-repeat center center/cover;
	margin-top: 33px;
	padding: 44px 30.2px 43px;
	position: relative;
}

.p-comments__rep::before {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*=======================
comments
====================== */

.p-comments {
	padding-top: 60px;
}

/*=======================
Footer Copyright
====================== */

.p-copyright {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.2rem;
	padding-top: 30px;
	text-align: center;
}

/*=======================
Footer
====================== */

.p-footer {
	background-color: #1A1A1A;
	height: 80px;
	width: 100%;
}

/*=======================
global Nav
====================== */

.p-global-nav {
	-webkit-overflow-scrolling: touch;
	height: 90px;
	overflow-x: auto;
	position: relative;
	white-space: nowrap;
}

.p-global-nav ul {
	display: flex;
	height: inherit;
	justify-content: center;
}

.p-global-nav__item {
	height: inherit;
	margin: 0 16px;
}

.p-global-nav__item a {
	color: #421f15;
	display: inline-block;
	font-size: 0.75rem;
	font-weight: bold;
	height: inherit;
	padding-top: 25px;
	text-align: center;
}

.p-global-nav__item a::after {
	display: block;
	font-size: 1.38rem;
	padding-top: 8px;
	text-transform: uppercase;
}

.p-global-nav__item--top a::after {
	content: "top";
}

.p-global-nav__item--news a::after {
	content: "news";
}

.p-global-nav__item--story a::after {
	content: "story";
}

.p-global-nav__item--comic a::after {
	content: "comic";
}

.p-global-nav__item--comments a::after {
	content: "comments";
}

.p-global-nav__item--casts a::after {
	content: "casts";
}

.p-global-nav__item--inquiry a::after {
	content: "inquiry";
}

.p-global-nav__item--reserve a::after {
	content: "reserve";
}

.p-prev-icon,
.p-next-icon {
	display: none;
}

/*=======================
hero date (TOP以外)
====================== */

.p-hero__date {
	width: 30.86419%;
}

/*=======================
hero reserve btn (TOP以外)
====================== */

.p-hero__reserve-btn {
	background-color: #c63205;
	font-size: 0.75rem;
	height: 40px;
	line-height: 40px;
	margin-left: auto;
	margin-top: 15px;
	transform: translateY(50%);
	width: 150px;
}

/*=======================
hero title wrap (TOP以外)
====================== */

.p-hero__title-wrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

/*=======================
hero title (TOP以外)
====================== */

.p-hero__title {
	width: 56.79%;
}

/*=======================
hero wrap (TOP以外)
====================== */

.p-hero__wrap {
	margin: 0 auto;
	max-width: 810px;
	width: 100%;
}

/*=======================
hero (TOP以外)
====================== */

.p-hero {
	background: url(../img/hero-bg2.png) no-repeat center center/cover;
	padding: 58px 165px 0;
	position: relative;
}

/*=======================
intro sub title
====================== */

.p-intro__sub-title {
	font-size: 2.125rem;
	font-weight: bold;
	margin-top: 15px;
	text-align: center;
}

/*=======================
intro text wrap,
intro text--left,
intro text--right
====================== */

.p-intro__text-wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.p-intro__text--left,
.p-intro__text--right {
	font-size: 0.75rem;
	line-height: 1.3125rem;
	width: 48%;
}

/*=======================
intro wrap
====================== */

.p-intro__wrap {
	background: rgba(255, 255, 255, 0.29) url(../img/min/intro-img.png) no-repeat top left 0/230px 207px;
	padding: 30px;
	width: 100%;
}

/*=======================
introduction
====================== */

.p-intro {
	padding-top: 60px;
}

/*=======================
news item date
====================== */

.p-news__item-date {
	color: #666666;
	font-size: 0.75rem;
}

/*=======================
news item title
====================== */

.p-news__item-title {
	font-weight: bold;
	line-height: 1.3125rem;
	padding-top: 5px;
}

/*=======================
reserve btn
====================== */

.p-reserve-btn {
	background-color: #c63205;
	height: 60px;
	line-height: 60px;
	margin-left: auto;
	transform: translateY(50%);
	width: 200px;
}

/*=======================
schedule body
====================== */

.p-schedule__body {
	margin-top: 29px;
}

/*=======================
schedule button wrap
====================== */

.p-schedule__button-wrap {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

/*=======================
schedule date
====================== */

.p-schedule__date {
	margin-right: 13px;
}

/*=======================
schedule inquiry btn
====================== */

.p-schedule__inquiry-btn {
	background-color: #603813;
	font-size: 0.8125rem;
	height: 60px;
	line-height: 60px;
	margin-right: 30px;
	width: 193px;
}

/*=======================
schedule item
====================== */

.p-schedule__item {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.25rem;
	font-weight: bold;
	justify-content: center;
	line-height: 1.4rem;
	margin-top: 25px;
}

.p-schedule__item:first-child {
	margin-top: 0;
}

/*=======================
schedule place
====================== */

.p-schedule__place {
	margin-left: 30px;
	margin-right: 28px;
}

/*=======================
schedule reserve btn
====================== */

.p-schedule__reserve-btn {
	background-color: #c63205;
	font-size: 0.8125rem;
	height: 60px;
	line-height: 60px;
	width: 193px;
}

/*=======================
schedule reserve-link
====================== */

.p-schedule__reserve-link {
	text-decoration: underline;
}

/*=======================
schedule wrap
====================== */

.p-schedule__wrap {
	background-color: rgba(255, 255, 255, 0.29);
	margin: 0 auto;
	max-width: 800px;
	padding: 30px 72px 60px;
	width: 100%;
}

/*=======================
section schedule
====================== */

.p-schedule {
	padding-bottom: 60px;
	padding-top: 60px;
}

/*=======================
p-title
====================== */

.p-section-title {
	font-family: "Futura-CondensedMedium", "Century Gothic", sans-serif;
	font-size: 2.6875rem;
	text-align: center;
}

/*=======================
story title
====================== */

.p-story-title {
	color: #fff;
}

/*=======================
top cast more btn
====================== */

.p-top-cast-more-btn {
	border: 5px solid #c63205;
	color: #c63205;
	line-height: 26px;
	margin: 15.4px auto 0;
	width: 115.71px;
}

/*=======================
top comments more btn
====================== */

.p-top-comments-more-btn {
	background-color: #c63205;
	bottom: 14.5px;
	height: 36.43px;
	line-height: 36.43px;
	position: absolute;
	right: 14.3px;
	text-align: center;
	width: 115.71px;
}

/*=======================
top hero date
====================== */

.p-top-hero__date {
	width: 40.217%;
}

/*=======================
top hero description
====================== */

.p-top-hero__desc {
	color: #fff;
	font-size: 0.875rem;
	line-height: 1.375rem;
	width: 36.956%;
}

.p-top-hero__desc span {
	font-weight: bold;
}

/*=======================
top hero secondary-wrap
====================== */

.p-top-hero__secondary-wrap {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	margin-top: 88.6px;
}

/*=======================
top wrap
====================== */

.p-top-hero__wrap {
	margin: 0 auto;
	max-width: 920px;
	width: 100%;
}

/*=======================
top hero
====================== */

.p-top-hero {
	background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent), url(../img/min/hero-bg.png) no-repeat center center/cover;
	padding: 60px 110px 0;
	position: relative;
}

/*=======================
news item,
news item link,
news item img,
news item body
====================== */

.p-top-news__item {
	background-color: #fff;
	margin-right: 30px;
	max-width: 250px;
	width: calc(100% / 3 - 30px * 2 / 3);
}

.p-top-news__item:nth-child(3) {
	margin-right: 0;
}

.p-top-news__item .p-top-news__item-link {
	display: inline-block;
	height: 100%;
	width: 100%;
}

.p-top-news__item .p-top-news__item-img {
	background-image: url(../img/min/news-img1.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 140px;
	max-width: 250px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-top-news__item .p-top-news__item-body {
	padding: 14px 15px 24.4px;
}

.p-top-news__item:nth-child(n + 4) {
	margin-right: 30px;
	margin-top: 30px;
	max-width: 390px;
	width: calc(100% / 2 - 30px * 1 / 2);
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-link {
	display: flex;
	height: 100%;
	width: 100%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-img {
	background-image: url(../img/min/news-img2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	min-height: 88px;
	overflow: hidden;
	position: relative;
	width: 40%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-body {
	padding: 14.5px 16px;
	width: 60%;
}

.p-top-news__item:nth-child(5) {
	margin-right: 0;
}

/*=======================
news items wrap
====================== */

.p-top-news__items-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

/*=======================
news archive btn
====================== */

.p-top-news-archive-btn {
	background-color: #c63205;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 120px;
}

/*=======================
news
====================== */

.p-top-news {
	padding-top: 60px;
}

/*=======================
top schedule padding top
====================== */

.p-top-schedule__padding-top {
	padding-top: 90px;
}

/*=======================
story text
====================== */

.p-top-story__text {
	color: #fff;
	font-size: 0.75rem;
	line-height: 1.3125rem;
	margin-left: auto;
	max-width: 320px;
	padding-top: 19px;
	width: 100%;
}

/*=======================
story more btn
====================== */

.p-top-story-more-btn {
	background-color: #c63205;
	font-size: 0.875rem;
	height: 36.43px;
	line-height: 36.43px;
	margin-left: auto;
	margin-top: 8.6px;
	text-align: center;
	width: 115.71px;
}

/*=======================
story
====================== */

.p-top-story {
	background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent), url(../img/min/top-story-bg.png) no-repeat center top 0%/cover;
	margin-top: 60px;
	padding-bottom: 30px;
	padding-top: 30px;
	position: relative;
}

/*=======================
youtube wrap,
iframe
====================== */

.p-youtube__wrap {
	padding-top: 55.55556%;
	position: relative;
	width: 100%;
}

.p-youtube__wrap iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*=======================
youtube
====================== */

.p-youtube {
	padding-top: 60px;
}

/*=======================
u-is-pc
====================== */

.u-is-pc {
	display: block;
}

.u-is-sp {
	display: none;
}

@media screen and (max-width: 991px) {

.l-inner {
	padding-left: 24px;
	padding-right: 24px;
}

.p-global-nav ul {
	display: block;
	margin: 0 auto;
	width: 767.64px;
}

.p-global-nav__item {
	display: inline-block;
}

.p-global-nav__item a {
	font-size: 0.88rem;
	padding-top: 38px;
}

.p-global-nav__item a::after {
	display: none;
}

.p-hero {
	padding: 40px 24px 0;
}

.p-intro__sub-title {
	font-size: 1.375rem;
}

.p-intro__wrap {
	background-size: 25%;
}

.p-schedule__wrap {
	padding-left: 30px;
	padding-right: 30px;
}

.p-schedule {
	padding-left: 24px;
	padding-right: 24px;
}

.p-top-hero {
	padding: 40px 24px 0;
}

.p-top-news-archive-btn {
	right: 24px;
}

}

@media screen and (max-width: 767px) {

.l-inner {
	padding-left: 16px;
	padding-right: 16px;
}

.p-cast__img {
	margin: 0 auto;
}

.p-cast__item {
	margin-right: 0;
	max-width: 100%;
	width: 100%;
}

.p-cast__item:nth-child(n + 2) {
	margin-top: 30px;
}

.p-cast__items {
	display: block;
}

.p-cast__profile {
	text-align: center;
}

.p-comments__lead {
	font-size: 1.25rem;
	line-height: 1.375rem;
}

.p-comments__rep-name {
	line-height: 2.0rem;
}

.p-comments__rep-text {
	max-width: 100%;
}

.p-comments__rep {
	background-position: top center;
	background-size: 100%;
	padding-bottom: 71px;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 50%;
}

.p-copyright {
	line-height: 1.2rem;
	padding-top: 23px;
}

.p-global-nav {
	height: 60px;
}

.p-global-nav ul {
	width: 799.64px;
}

.p-global-nav__item:first-child {
	margin-left: 32px;
}

.p-global-nav__item:last-child {
	margin-right: 32px;
}

.p-global-nav__item a {
	padding-top: 24px;
}

.p-prev-icon,
.p-next-icon {
	background-color: rgba(255, 255, 255, 0.29);
	font-weight: bold;
	height: 60px;
	line-height: 60px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 25px;
	z-index: 2;
}

.p-prev-icon {
	left: 0;
}

.p-next-icon {
	display: block;
	right: 0;
}

.p-hero__date {
	margin-top: 30px;
	width: 70%;
}

.p-hero__title-wrap {
	display: block;
}

.p-hero__title {
	width: 100%;
}

.p-hero {
	background-image: url(../img/min/hero-bg.png);
	padding: 50px 16px 0;
}

.p-intro__text-wrap {
	display: block;
}

.p-intro__text--left,
.p-intro__text--right {
	width: 100%;
}

.p-intro__text--right {
	margin-top: 10px;
}

.p-schedule__button-wrap {
	display: block;
}

.p-schedule__inquiry-btn {
	margin: 0 auto;
}

.p-schedule__item {
	font-size: 1rem;
}

.p-schedule__reserve-btn {
	margin: 20px auto 0;
}

.p-schedule {
	padding-left: 16px;
	padding-right: 16px;
}

.p-top-cast-more-btn {
	margin-top: 20px;
}

.p-top-comments-more-btn {
	left: 50%;
	transform: translateX(-50%);
}

.p-top-hero__date {
	width: 70%;
}

.p-top-hero__desc {
	margin-top: 40px;
	width: 100%;
}

.p-top-hero__secondary-wrap {
	display: block;
	margin-top: 20px;
}

.p-top-hero {
	background-position: left 25% center;
	padding: 40px 16px 0;
}

.p-top-news__item {
	margin-top: 30px;
	max-width: 100%;
	width: 100%;
}

.p-top-news__item:first-child {
	margin-top: 0;
}

.p-top-news__item .p-top-news__item-img {
	height: 50vw;
	max-width: 100%;
}

.p-top-news__item:nth-child(n + 4) {
	margin-right: 0;
	max-width: 100%;
	width: 100%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-link {
	display: block;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-img {
	height: 50vw;
	width: 100%;
}

.p-top-news__item:nth-child(n + 4) .p-top-news__item-body {
	width: 100%;
}

.p-top-news__items-wrap {
	display: block;
}

.p-top-news-archive-btn {
	margin: 20px auto 0;
	position: static;
}

.p-top-story__text {
	margin: 0 auto;
	max-width: 100%;
}

.p-top-story-more-btn {
	margin: 20px auto 0;
}

.p-top-story::before {
	background-color: rgba(0, 0, 0, 0.3);
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw;
}

.u-is-pc {
	display: none;
}

.u-is-sp {
	display: block;
}

}

@media screen and (max-width: 425px) {

.p-intro__sub-title {
	font-size: 1.125rem;
}

.p-intro__wrap {
	padding-left: 20px;
	padding-right: 20px;
}

}

