// color
$color-1: #fff;
$color-2: #666666;
$color-3: #333;
$color-4: #1A1A1A;
$color-5: #301F1B;
$color-6: #421f15;
$color-7: #603813;
$color-8: #c63205;
$color-9: #F4D102;
$color-10: rgba(255, 255, 255, 0.29);
$color-11: rgba(255, 255, 255, 0.7);
$color-12: rgba(255, 255, 255, 0.9);