// font-family
$font-family--ja: 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', 'Meiryo', sans-serif;
$font-family--en: 'Futura-CondensedMedium', 'Century Gothic', sans-serif;

// font-size
$fz-standard: 16px;