/*=======================
c-breadcrumb
====================== */
.c-breadcrumb {
    width: 100%;
    max-width: 810px;
    margin: 29px auto 0;
    font-size: 0.75rem;
    line-height: 1.3125rem;

    > span {
        &::after {
            content: ">";
        }

        &:last-child {
            &::after {
                content: "";
            }
        }
    }
}

.c-breadcrumb__font-color--white {
    color: $color-1;

    a {
        color: $color-1;
    }
}
