/*=======================
news single prev,
news single next
====================== */
.c-news-single__prev,
.c-news-single__next {
    width: calc(100% / 2 - 30px * 1 / 2);
    max-width: 390px;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 1.3125rem;
        position: relative;

        time {
            font-size: 0.75rem;
        }

        p {
            font-size: 0.875rem;
            font-weight: bold;
        }

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 32.46px;
            height: 32.46px;
            background-color: $color-4;
            border-radius: 999px;
            font-size: 1.125rem;
            color: $color-9;
            text-align: center;
            line-height: 28px;
        }
    }
}

.c-news-single__prev {
    margin-right: 30px;

    a {
        padding-left: 45px;

        &::before {
            content: "<";
            left: 0;
        }
    }
}

.c-news-single__next {
    a {
        padding-right: 45px;
        text-align: right;

        &::after {
            content: ">";
            right: 0;
        }
    }
}
