/*=======================
c-news-single
====================== */
.c-news-single {
    padding-top: 28px;

    @include mq('sp') {
        padding-top: 20px;
    }
}

.c-news-single__post {
    margin-top: 32px;
    box-shadow: 0 0 17.45px $color-13;

    @include mq('sp') {
        margin-top: 15px;
    }
}

.c-news-single__title-wrap {
    width: 100%;
    padding: 9px 30px 15px;
    background-color: $color-4;

    @include mq('sp') {
        padding: 9px 10px 15px;
    }
}

.c-news-single__date {
    color: $color-1;
    font-size: 0.75rem;
}

.c-news-single__title {
    color: $color-1;
    font-size: 1.625rem;
    margin-top: 8px;
    font-weight: bold;

    @include mq('sp') {
        font-size: 1.25rem;
        line-height: 1.3;
    }
}

.c-news-single__body {
    padding: 27px 30px 1px;
    background-color: $color-12;
    line-height: 1.625;

    @include mq('sp') {
        padding: 15px 10px 1px;
        line-height: 1.5;
    }

    h2 {
        font-size: 1.375rem;
        margin-bottom: 26px;
        font-weight: bold;

        @include mq('sp') {
            font-size: 1.125rem;
            margin-bottom: 15px;
        }
    }

    h3 {
        font-size: 1.125rem;
        margin-bottom: 27px;
        font-weight: bold;

        @include mq('sp') {
            font-size: 1rem;
            margin-bottom: 15px;
            padding-top: 10px;
        }
    }

    p {
        margin-bottom: 26px;

        @include mq('sp') {
            font-size: 0.875rem;
            margin-bottom: 15px;
        }
    }
}

/* pagination */
.c-news-single__pagination {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
}

.c-news-single__prev,
.c-news-single__next {
    width: calc(100% / 2 - 30px * 1 / 2);
    max-width: 390px;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 1.3125rem;
        position: relative;

        time {
            font-size: 0.75rem;
        }

        p {
            font-size: 0.875rem;
            font-weight: bold;
        }

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 32.46px;
            height: 32.46px;
            background-color: $color-4;
            border-radius: 999px;
            font-size: 1.125rem;
            color: $color-9;
            text-align: center;
            line-height: 28px;
        }
    }
}

.c-news-single__prev {
    margin-right: 30px;

    a {
        padding-left: 45px;

        &::before {
            content: "<";
            left: 0;
        }
    }
}

.c-news-single__next {
    a {
        padding-right: 45px;
        text-align: right;

        &::after {
            content: ">";
            right: 0;
        }
    }
}
