/*=======================
pagination page numbers,
pagination next,
pagination prev
====================== */
.c-pagination__page-numbers,
.c-pagination__next,
.c-pagination__prev {
    width: 27px;
    height: 27px;
    margin-right: 9px;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;

    a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-weight: bold;
        text-align: center;
    }
}

.c-pagination__page-numbers {
    line-height: 27px;
    color: $color-9;
    background-color: $color-4;

    a {
        color: $color-9;
    }
}

.c-pagination__next,
.c-pagination__prev {
    background-color: transparent;
    color: $color-4;
    line-height: 21px;
    border: 2px solid $color-4;
}

.c-pagination__next {
    margin-right: 0;
}
