/*=======================
cast profile
====================== */
.p-cast__profile {
    margin-top: 16px;
    font-size: 0.75rem;
    line-height: 1.3125rem;

    @include mq('sp') {
        text-align: center;
    }
}