/*=======================
comments rep-name
====================== */
.p-comments__rep-name {
    font-size: 1.625rem;
    font-weight: bold;

    span {
        font-size: 1.25rem;
    }

    @include mq('sp') {
        line-height: 2.0rem;
    }
}