/*=======================
comments lead
====================== */
.p-comments__lead {
    padding-top: 33px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    @include mq("sp") {
        font-size: 1.25rem;
        line-height: 1.375rem;
    }
}
