/*=======================
comments rep-text
====================== */
.p-comments__rep-text {
    padding-top: 15px;
    font-size: 0.875rem;
    line-height: 1.375rem;
    width: 100%;
    max-width: 420px;

    @include mq('sp') {
        max-width: 100%;
    }
}