/*=======================
p-comic
====================== */
.p-comic__wrap {
    width: 100%;
    margin-top: 48px;

    @include mq('sp') {
        margin-top: 20px;
    }
}

.p-comic__sub-title {
    margin-top: 24px;
    text-align: center;

    @include mq('sp') {
        margin-top: 15px;
    }
}

.p-comic__lead {
    margin-top: 24px;
    line-height: 1.5;

    @include mq('sp') {
        margin-top: 20px;
        font-size: 0.875rem;
    }
}