/*=======================
hero title wrap (TOP以外)
====================== */
.p-hero__title-wrap {
    display: flex;
    // margin-top: 88.6px;
    justify-content: space-between;
    align-items: flex-end;

    @include mq('sp') {
        display: block;
        // margin-top: 20px;
    }
}