/*=======================
intro sub title
====================== */
.p-intro__sub-title {
    margin-top: 19px;
    font-size: 2.125rem;
    text-align: center;
    font-weight: bold;

    @include mq('tab-only') {
        font-size: 1.375rem;
    }

    @include mq('sp-only') {
        font-size: 1.125rem;
    }
}