/*=======================
news archive items wrap
====================== */
.p-news-archive__items-wrap {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;

    @include mq("sp") {
        display: block;
    }
}
