/*=======================
reserve btn
====================== */
.p-reserve-btn {
    margin-left: auto;
    width: 200px;
    height: 60px;
    line-height: 60px;
    background-color: $color-8;
    transform: translateY(50%);
}