/*=======================
schedule item
====================== */
.p-schedule__item {
    display: flex;
    font-size: 1.25rem;
    line-height: 1.4rem;
    font-weight: bold;
    margin-top: 23px;
    flex-wrap: wrap;
    justify-content: center;

    &:first-child {
        margin-top: 0;
    }

    @include mq('sp') {
        font-size: 1rem;
    }
}