/*=======================
schedule button wrap
====================== */
.p-schedule__button-wrap {
    margin-top: 30px;
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;

    @include mq('sp') {
        display: block;
    }
}