/*=======================
schedule reserve btn
====================== */
.p-schedule__reserve-btn {
    width: 193px;
    height: 60px;
    line-height: 60px;
    font-size: 0.8125rem;
    background-color: $color-8;

    @include mq('sp') {
        margin: 20px auto 0;
    }
}