/*=======================
schedule inquiry btn
====================== */
.p-schedule__inquiry-btn {
    width: 193px;
    height: 60px;
    line-height: 60px;
    font-size: 0.8125rem;
    background-color: $color-7;
    margin-right: 30px;

    @include mq('sp') {
        margin: 0 auto;
    }
}