/*=======================
schedule wrap
====================== */
.p-schedule__wrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 33px 72px 60px;
    background-color: $color-10;

    @include mq('tab-only') {
        padding-left: 30px;
        padding-right: 30px;
    }
}