/*=======================
p-top-comments
====================== */
.p-top-comments {
    padding-top: 63px;

    @include mq("sp") {
        padding-top: 40px;
    }
}

.p-top-comments__lead {
    padding-top: 37px;
}

.p-top-comments__rep {
    margin-top: 33px;

    @include mq('sp') {
        padding-bottom: 71px;
    }
}

.p-top-comments__more-btn {
    width: 115.71px;
    height: 36.43px;
    line-height: 36.43px;
    text-align: center;
    background-color: $color-8;
    position: absolute;
    right: 14.3px;
    bottom: 14.5px;

    @include mq("sp") {
        left: 50%;
        transform: translateX(-50%);
    }
}
