/*=======================
news archive btn
====================== */
.p-top-news-archive-btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: $color-8;
    position: absolute;
    top: 0;
    right: 0;

    @include mq('tab-only') {
        right: 24px;
    }

    @include mq('sp') {
        position: static;
        margin: 20px auto 0;
    }
}