/*=======================
p-story
====================== */
.p-top-story {
    margin-top: 62px;
    padding-top: 34px;
    padding-bottom: 30px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent),
        url(../img/min/top-story-bg.png) no-repeat center top 0% / cover;
    position: relative;

    @include mq("sp") {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            width: 100vw;
            height: 100%;
        }
    }
}

.p-top-story-more-btn {
    width: 115.71px;
    height: 36.43px;
    line-height: 36.43px;
    text-align: center;
    font-size: 0.875rem;
    margin-left: auto;
    margin-top: 6px;
    background-color: $color-8;

    @include mq("sp") {
        margin: 20px auto 0;
    }
}

.p-top-story__text {
    padding-top: 19px;
    width: 100%;
    max-width: 320px;
    font-size: 0.75rem;
    line-height: 1.3125rem;
    color: $color-1;
    margin-left: auto;

    @include mq("sp") {
        margin: 0 auto;
        max-width: 100%;
    }
}
