/*=======================
top hero secondary-wrap
====================== */
.p-top-hero__secondary-wrap {
    display: flex;
    margin-top: 88.6px;
    justify-content: space-between;
    align-items: flex-end;

    @include mq('sp') {
        display: block;
        margin-top: 20px;
    }
}