/*=======================
p-top-comments
====================== */
.p-top-comments__more-btn {
    width: 115.71px;
    height: 36.43px;
    line-height: 36.43px;
    text-align: center;
    background-color: $color-8;
    position: absolute;
    right: 14.3px;
    bottom: 14.5px;

    @include mq("sp") {
        left: 50%;
        transform: translateX(-50%);
    }
}
