/*=======================
p-top-cast
====================== */
.p-top-cast {
    margin-top: 27px;
    padding-top: 28px;
}

.p-top-cast__wrap {
    margin-top: 28px;
}

.p-top-cast__more-btn {
    margin: 8px auto 0;
    color: $color-8;
    border: 5px solid $color-8;
    width: 115.71px;
    line-height: 26px;

    @include mq("sp") {
        margin-top: 20px;
    }
}
